<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>같이가치-shopping-강아지 에어팟 프로케이스</title>
    {% load static %}  
    <link rel="stylesheet" href = "{%static 'css/styles.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
    <!--자동 업데이트 로직(수정 금지)-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script type="text/javascript">
   // var auto_refresh = setInterval(
   // function ()
   // {
     //   $('#load_tweets').load('refresh.html').fadeIn("slow");
//}, 5000);
</script>
<!--자동 업데이트 로직(수정 금지)-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
    integrity="sha384-Smlep5jCw/wG7hdkwQ/
    Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>


<body style="background-color:white;">
        <!--사이트 헤더-->
        <header class="header bg-white bg-opacity-100" >
    

            {% load socialaccount %}
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-6">
                      
            </div>
            <div class="col-6">
                <a style="font-family:GyeonggiTitleM;float:right;text-decoration:none;" href="{% url 'common:logout' %}">로그아웃</a><br>
                <a href="{% url 'kapchikachi:Check_personal_buy' %}" style="font-family: GyeonggiTitleM;float: right;text-decoration:none;">구매이력</a></div>
                
               
            </div>
            </div>
        <!--    개인 계정 페이지로 이동(개인정보확인 및 수정/ 구매내역 확인)-->
        {% else %}
        <div class="row">
            <div class="col-6">
                <a href="" style="font-family:GyeonggiTitleM;float:left;text-decoration:none;"></a></div>
            <div class="col-6">
                <a href="{% url 'common:login' %}" style="font-family: GyeonggiTitleM;float:right;">Log-in</a>
            </div>
        </div>
        {% endif %}
    
        
        
         <span class="site-heading"style="text-align :center;">
            <div class="row"><a href="{% url 'kapchikachi:main' %}"><img src="{%static 'img/logo2-remove.png'%}" style="max-width: 200px;max-height: 200px;margin-left: auto;margin-right: auto;"></a></div>
                <div class="row"style="background-color:blanchedalmond;padding-bottom:10px;padding-top: 10px;" >   
                    <div class="col-4"><a href="{% url 'kapchikachi:main' %}" style="font-family:GyeonggiTitleM;font-size:2.5vh;padding-top: 5px;text-decoration:none;"><b>Home</b></a></div>
                    <div class="col-4"><a href="{% url 'kapchikachi:aboutus' %}"style="font-family:GyeonggiTitleM;font-size:2.5vh;padding-top: 5px;text-decoration:none;"><b>About Us</b></a></div>
                    <div class="col-4"><a href="{% url 'kapchikachi:SelectPayOption' %}" id ="Shopping"style="font-family:GyeonggiTitleM;font-size:2.5vh;padding-top: 5px;text-decoration:none;"><b>Shopping</b></a></div>
            </div>    
        </span>
    </header>

        


<!--코멘트 생성 기능-->
<div class="container">
<p style="font-family: GyeonggiTitleM;">shopping>고양이 키링</p>
<div class="row"style="margin-bottom:20px;border:3px black dasehd">
    <p style="font-family: GyeonggiTitleM;font-size: 3vh;text-align: center;">고양이 키링</p>


        
            <img src="{%static 'img/catkeyrings.jpg'%}" style="align-content: center;max-width: 400px;max-height: 400px;margin-left: auto;margin-right: auto;margin-right: auto;margin-bottom: 10px;" class="img-fluid">

</div>
<section class="page-section about-heading" >
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-3">
                        <p style="font-family: GyeonggiTitleM;font-size: 3vh;border-bottom: black dashed 1px;">가격 : 5,000원</p>
                        <p style="font-family:  GyeonggiTitleM;font-size: 3vh;">상품소개</p>
                        <p class="mb-0">
                            귀여운 고양이 발바닥이 프린트 되어있는 키링입니다:)<br>
                        </p>
                        <button style="align-content: center;width: 100px; float: right;margin-top: 40px;"class="btn btn-secondary" onclick=location.href="{% url 'kapchikachi:CommentCreate' %}">구매하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</div>


<address class="footer text-faded text-center" style="display:block; width:100%;padding-top: 15px;padding-bottom: 3rempx;" >
    <div class="row" >
        <div class="col-3" >
            <a href="{% url 'kapchikachi:Qna' %}" style="color:wheat;font-size:10px;font-family:GyeonggiTitleM ;text-decoration:none;"> QnA </a>
        </div>

        <div  class="col-3">
            <a href="{% url 'kapchikachi:Notice_info' %}" style="color:wheat;font-size:10px;font-family:GyeonggiTitleM;text-decoration:none;"> 개인정보처리방침</a> 
        </div>
   

        <div class="col-3">
            <a href="{% url 'kapchikachi:Notice_info' %}" style="color:wheat;font-size:10px;font-family:GyeonggiTitleM;text-decoration:none;"> 사업자 정보 </a> 
        </div>

        <div class="col-3">
            <a href="{% url 'kapchikachi:Notice_info' %}" style="color:wheat;font-size:10px;font-family:GyeonggiTitleM;text-decoration:none;"> 이용약관</a> 
        </div>
    </div>

    <div class="row" style="border-top: 1px solid black;margin-top:15px">
        <div class="col-6" style="margin-top: 10px;">
            <p style="font-family:GyeonggiTitleM;font-size:3vh;color:wheat"> CALL CENTER</p><br>
            <p style="font-family:GyeonggiTitleM;font-size:2vh">010-6378-9438 </p>
            <p style="font-family:GyeonggiTitleM;font-size:1.5vh">Open Am 10 : 00 – PM 05 : 00 </p>
            <p style="font-family:GyeonggiTitleM;font-size:1.5vh">LUNCH PM 12 : 30 ~ 1 : 30 </p>
            <p style="font-family:GyeonggiTitleM;font-size:1.5vh"><a href="https://open.kakao.com/me/value_together" style="font-family:GyeonggiTitleM;font-size:1.5vh;color:wheat;margin-top:2px;">오픈카카오톡</a></p>
        </div>

        <div class="col-6" style="margin-top: 10px;">
            <p style="font-family:GyeonggiTitleM;font-size:3vh;color:wheat"> Sponsor Us</p><br>
            <p style="font-family:GyeonggiTitleM;font-size:2vh"> 국민 92030201552024</p>
            <p style="font-family:GyeonggiTitleM;font-size:1.5vh">Instagram<br>
                <a style="font-family:GyeonggiTitleM;font-size:1.5vh;color:wheat" href="https://www.instagram.com/value__together/">value__together</a> 
            </p>
            
        </div>
        <div class="img-fluid"><img src="{%static 'img/valtowhite.png'%}" style=" max-width: 100px;max-height: 
            100px;margin-left:auto;padding:0px; "></div>
    
</address>
>
    

</body>
   <!-- Bootstrap core JS-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Core theme JS-->
   <script src="{%static 'Js/script.js'%}"></script>
   <script src="{%static 'Js/chart.js'%}"></script>
</html>